body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    background: no-repeat center center fixed
        url("images/Die_Toteninsel_III.jpg");
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia, "Times New Roman", Times, serif;
}
div.main {
    /*margin-top: 10%;*/
    /*border: 2px solid #00ff00;*/
    margin-top: 2%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 750px;
}
header,
footer {
    border: 8px solid #ff6400;
    border-radius: 16px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    min-width: fit-content;
    width: auto;
    background-color: #000000af;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: 16px;
    border: 8px solid #bf2222;
    padding: 2%;
    min-width: 370px;
    width: auto;
}

h2 {
    font-family: "Courier New", Courier, monospace;
}

main {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 16px;
    margin-bottom: 0;
    border-width: 8px;
    border-style: solid;
    border-color: #005a7d;
    border-radius: 16px;
    /*border-radius: 1600px;*/
    max-height: 10%;
    padding: 16px;
    background-color: #000000af;
    min-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

section#rsd {
    border-color: #009bff;
}

section#md {
    border-color: #36c9c9;
}

section#rsd-spc {
    border-color: #ead1dc;
}

h1 {
    text-align: left;
}

p {
    font-size: 130%;
    text-align: left;
    word-wrap: inherit;
}

a {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

/*img.icon {
    width: 256px;
    height: auto;
    border-radius: 50%;
}*/
img.pfp {
    display: block;
    max-width: 10vh;
    max-height: 10vh;
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}
img.icon {
    display: block;
    max-width: 10vh;
    max-height: 10vh;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.blurbg {
    backdrop-filter: blur(8px);
}

.flex-container {
    display: flex;
}
.flex-child {
    flex: 1;
    /*border: 2px solid yellow;*/
}
p.flex-child {
    text-align: center;
    margin: auto;
}
.flex-child:nth-child {
    margin-right: 20px;
    margin-left: 20px;
}
.flex-child:first-child {
    margin-right: 20px;
}
.flex-child:last-child {
    margin-left: 20px;
}
